/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

* {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --chamanke-blue-main: #0C4773
  --chamanke-dark-blue: #2e3c49;
  --chamanke-light-blue: #0a88a3;
  --chamanke-red: #e04639;
  --chamanke-midnight-green: #164E63;
  --chamanke-japanese-indigo: #2C463F;
  --chamanke-slate-gray: #74878e;
  --chamanke-off-white: #fafbfa
}

/* homepage: services section */
#services-container:before {
content: "";
position: absolute;
width: 100%;
height: 100%;
background-color: #000;
opacity: .9;
z-index: -1;
}

.fade-in {
  animation: fade-in 0.5s ease-in-out;
}
.fade-out {
  animation: fade-out 0.5s ease-in-out;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}


/* homepage: reviews section */

.slide-left-out {
  animation: slide-left-out 0.5s ease-in-out;
}

.slide-left-in {
  animation: slide-left-in 0.5s ease-in-out;
}
.slide-right-out {
  animation: slide-right-out 0.5s ease-in-out;
}
.slide-right-in {
  animation: slide-right-in 0.5s ease-in-out;
}


@keyframes slide-left-in {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-left-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-70%);
  }
}

@keyframes slide-right-in {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-right-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(70%);
  }
}

/* company page: revealing the certificates */

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}